.corpoPaginaInicial{
    background: url('../imagens/fundo1.jpg') no-repeat;
    background-size: cover;
}
header.col-xs-12.col-md-12.col-lg-3.ui.massive.label.black.menuLateral {
    padding: 20px 0 0 0;
}
.opcaoMenu{
    width:100%;
}

.fundo{
    background-color: rgba(000,000,000,0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
}
